.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 1s;
}

.Item-price {
  white-space: nowrap;
  display: inline-block;
}

.Item-price_cart {
  margin-left: 62px;
  white-space: nowrap;
  display: inline-block;
}

.Item-code {
  padding: 20px 10px 20px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px;
}

.Item-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}
